@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		url('/public/fonts/Montserrat-Medium.woff2') format('woff2'),
		url('/public/fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('/public/fonts/Montserrat-Bold.woff2') format('woff2'),
		url('/public/fonts/Montserrat-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: var(--font-family);
	font-size: var(--font-base);
	line-height: 1.33;
	font-weight: var(--font-weighMedium);
	color: var(--color-darkGray);
	background-color: var(--color-gray);
}
