.filterItem {
	list-style-type: none;
}

.filterButton {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 293px;
	padding-inline: var(--padding-xsm);
	padding-block: var(--padding-xxsm);
	font-weight: inherit;
	line-height: 1;
	color: var(--color-mediumGray);
	border-radius: var(--border-mainRadius);
	background-color: var(--color-white);
	border-color: transparent;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.filterWrapper {
	display: flex;
	align-items: center;
	column-gap: var(--gap-xsm);
	font-weight: var(--font-weighBold);
}

.filterLabel {
	position: relative;
}

.filterInput {
	min-width: 293px;
	padding-right: var(--padding-xsm);
	padding-left: 56px;
	padding-block: var(--padding-xxsm);
	font-weight: inherit;
	line-height: 1;
	color: var(--color-mediumGray);
	font-weight: var(--font-weighBold);
	border-radius: var(--border-mainRadius);
	background-color: var(--color-white);
	border-color: transparent;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.filterLabelIcon {
	position: absolute;
	top: 1px;
	left: var(--padding-xsm);
}

.filterInput::placeholder {
	color: inherit;
}

@media (any-hover: hover) {
	.filterButton:hover,
	.filterInput:hover {
		color: var(--color-lightBlue);
		transition: all var(--animate);
	}
}

.filterInputIcon + .filterInput:focus {
	color: var(--color-mediumGray);
}
